body {
  background: url("../Images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.modal-title {
  float: left;
}

#main {
  margin-left: 200px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  margin-bottom: 25px;
}

.card-body {
  padding-bottom: 15px;
}

a.selected {
  font-weight: bold;
  color: #ed0 !important;
}

a.vert {
  color: #28a745;
}

a.rouge {
  color: #dc3545;
}

p.card-text {
  text-align: justify;
  padding-left: 10px;
  margin-bottom: 12px;
  max-height: 30rem;
  text-overflow: ellipsis;
}

.card hr {
  margin: 8px 0;
}

.stay-right {
  float: right;
}

.border-question {
  border: 2px solid #dc3545;
}

.border-texte {
  border: 2px solid #5bc0de;
}

.border-bonneReponse {
  border: 2px solid #32CD32;
}

mark {
    background-color: yellow;
    color: black;
}

code {
  padding: 2px 5px;
  display: block;
  background-color: #eee;
  border-left: 2px solid #bbb;
  white-space: pre-wrap;
  color: #303336 !important;
}
