body {
  background: url("../Images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.modal-title {
  float: left;
}

#main {
  margin-left: 200px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  margin-bottom: 25px;
}

a.selected {
  font-weight: bold;
  color: #ed0 !important;
}

a.vert {
  color: #28a745;
}

a.rouge {
  color: #dc3545;
}

p.card-text {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
}

.stay-right {
  float: right;
}

.border-question {
  border: 2px solid #dc3545;
}

.border-texte {
  border: 2px solid #5bc0de;
}

mark {
    background-color: yellow;
    color: black;
}

code {
  padding: 2px 5px;
  display: block;
  background-color: #eee;
  border-left: 2px solid #bbb;
  white-space: pre-wrap;
  color: #303336;
}
