body {
  background: url("../Images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.modal-title {
  float: left;
}

.modal-dialog {
  max-width: 40%;
}

.timestamp {
  color: #aaaaaa;
}

#main {
  margin-left: 200px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#filter {
  float: right;
  padding-bottom: 20px;
  clear: both;
}

.card {
  margin-bottom: 25px;
}

.card-body {
  padding-bottom: 15px;
}

a.selected {
  font-weight: bold;
  color: #ed0 !important;
}

a.vert {
  color: #28a745;
}

a.rouge {
  color: #dc3545;
}

p.card-text {
  text-align: justify;
  padding-left: 10px;
  margin-bottom: 12px;
  max-height: 30rem;
  overflow-y: auto;
}

select.discreet-dropdown {
  background-color: transparent;
  border: 0;
  height: 20px;
  padding: 0 2px;
  font-size: 0.8rem;
}

.card hr {
  margin: 8px 0;
}

.stay-right {
  float: right;
}

.border-question {
  border: 2px solid #dc3545;
}

.border-texte {
  border: 2px solid #5bc0de;
}

.border-bonneReponse {
  border: 2px solid #32CD32;
}

mark {
    background-color: yellow;
    color: black;
}

code {
  padding: 2px 5px;
  display: block;
  overflow-x: auto;
  background-color: #eee;
  border-left: 2px solid #bbb;
  white-space: pre;
  color: #303336 !important;
}

quote::before {
  content: "- ";
}

quote {
  font-family: "Qwigley", cursive;
}
