html {
  background: url("http://markinternational.info/data/out/617/224359511-plain-background-images.jpg") no-repeat center center fixed;
  background-size: cover;
}

#content {
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.g-signin2{
  width: 100%;
  margin-top: 20px;
}

.g-signin2 > div{
  margin: 0 auto;
}

h1, h6 {
  font-family: Verdana;
  font-style: italic;
}
