body {
  background: url("../Images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

table{
  border-style: dotted;
  border-width: 5px;
  margin: auto;
  width: 50%;
}

input {
  width: 90%;
}

input[type="submit"] {
  width: 40%;
}

label {
  margin-right: 15px;
}

td {
  width: 50%;
  text-align: right;
}

h1{
  text-align: center;
}

input{
  width: 20%;
}

label{
  text-align: right;
}
